.blog__banar,
.blog__note {
  margin-bottom: 50px;
  width: 100%;
}
.note {
  width: 100%;
  border: 1px solid #c0c0c0	;
  font-family: $ff-gothic;
}
.note__header {
  overflow: hidden;
  padding: 15px 30px 15px 20px;
  position: relative;
  color: #c0c0c0;	
  &::after {
    position: absolute;
    content: 'note';
    right: 25px;
    bottom: 15px;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    font-family: sans-serif;
    font-weight: bold;
  }
}
.note__authorImg {
  width: 50px;
  height: 50px;
  float: left;
  & img {
    border-radius: 25px;

  }
}
.note__authorInfo {
  float: left;
  margin-left: 20px;
  font-size: 1.3rem;
}
.note__body {
  padding: 15px 15px 14px;
  line-height: 1.6;
  font-size: 1.3rem;
}
.note__ttl {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.note__imgWrapper {
  width: 100%;
  padding-top: 55%;
  background-position: center;
  background-size: cover;
}
.note__txt {
  // font-size: 15px;
}
.more {
  // padding-top: 10px;
  color: #32CB00;
}

@include media-up() {
  .blog__banar,
  .blog__note {
    margin-bottom: 0;
  }

  .blog__itemUnit {
    display: flex;
    justify-content: space-between;
  }
  .blog__banar {
    width: 60%;
  }
  .blog__note {
    width: 38%;
    display: flex;
  }
  .note__header {
    padding: 18px 30px 15px 25px;
  }
  .note__authorImg {
    width: 45px;
    height: 45px;
    & img {
      border-radius: 22.5px;
    }
  }  
  .note__authorInfo {
    margin-left: 10px;
    font-size: 1.5rem;
    line-height: 1.3;
    color: gray;
  } 
  .note__ttl {
    font-size: 1.5rem;
    max-height: 3.2em;
    overflow: hidden  
  }
  .note__txt {
    font-size: 1.3rem;
    max-height: 60px;
    overflow: hidden;
  }
  
}
